<div class="row py-4 align-items-center">
    <section>
        <div class="container">
            <!-- Heading -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 px-0 mb-3 text-center">
                <h2 class="text-merah mb-4" data-aos="fade-up" data-aos-duration="400">
                    Our Latest News
                </h2>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 px-0">
                <app-card-news #CardNews [SectionHeader]="'Article'" [SectionContent]="SectionContentArticle">
                </app-card-news>
            </div>
        </div>
    </section>
</div>