<div class="row pt-5">
    <section class="mb-4">
        <div class="container">
            <!-- Heading -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 px-0 mb-3 text-center">
                <h2 class="text-merah mb-4" data-aos="fade-up" data-aos-duration="400">
                    Learn More About Our Product
                </h2>
            </div>

            <!-- Content -->
            <div class="col-lg-12 col-md-12 col-ms-12 col-xs-12 px-0">
                <div class="row">
                    <app-swiper [Content]="Content"></app-swiper>
                </div>
            </div>
        </div>
    </section>
</div>