section#mol_section_header {
  height: 15rem;
  max-height: 15rem;
  background-image: url("../../../assets/image/xavier-von-erlach-UvP0waz8a2o-unsplash.jpg");
  background-position: left bottom;
  background-repeat: no-repeat;
}
